<object id="dec">
      <button type="button" class="btnRight"><svg src="./images/icons/arrow-left.svg" width=20 height=20 id="arrow-left"></svg></button>       
</object>
        <a href="#" class="repos-pagination__link">1</a>
        <span class="repos-pagination__dots">...</span>      
        <a href="#" class="repos-pagination__link" id="#pagPrev2">{{pagePrev2}}</a>
        <a href="#" class="repos-pagination__link" id="#pagPrev2">{{pagePrev}}</a>
        <a href="#" class="repos-pagination__link" id="#pagPrev">{{page}}</a>
        <a href="#" class="repos-pagination__link" id="#pagNext">{{pageNext}}</a>
        <a href="#" class="repos-pagination__link" id="#pagNext2">{{pageNext2}}</a>
        <span class="repos-pagination__dots">...</span>
        <a href="#" class="repos-pagination__link">{{pageNext20}}</a>
<object id="inc">
     <button type="button" class="btnRight right"><svg src="./images/icons/arrow-left.svg" width=20 height=20 id="inc"></svg></button>       
</object>