
<div class="modal-window">
      <button class="close-modal" id="close-modal" type="button">
         
     </button>
    <img
        class="modal-image"
        src="https://image.tmdb.org/t/p/w500{{poster_path}}"
        alt="{{title}}"
    />
    <div class="modal-info">
        <h2 class="modal-movie-title">{{title}}</h2>
        <div class="modal-info-lists">
        <ul class="modal-info-list left">
            <li class="modal-info-list-item">Vote / Votes</li>
            <li class="modal-info-list-item">Popularity</li>
            <li class="modal-info-list-item">Original Title</li>
            <li class="modal-info-list-item">Genre</li>
        </ul>
         <ul class="modal-info-list">
            <li class="modal-info-list-item">
                <span class="modal-info-average">
                     {{vote_average}} 
                </span>/
                <span class="modal-info-count">
                    {{vote_count}}
                </span>
            </li>
            <li class="modal-info-list-item">
                {{popularity}}
            </li>
            <li class="modal-info-list-item">
                {{original_title}}             
            </li>
            <li class="modal-info-list-item">
                {{#each genres}}
                <span class="modal-info-genres-text-list-data"> {{this}} </span>
                {{/each}}
            </li>
        </ul>
        </div>
        <h3 class="modal-info-about">About</h3>
        <p class="modal-info-description">{{overview}}</p>
        <div class="modal-info-buttons">
        {{!-- watched button  --}}
            {{#if movieInWatched}}
            <button
                type="button"
                class="modal-info-button modal-info-button-active"
                id="js-watched-button"
            >
                Remove from watched
            </button>
            
            {{else}}
            <button
                type="button"
                class="modal-info-button"
                id="js-watched-button"
            >
                Add to watched
            </button>
            {{/if}}
        {{!-- queue button  --}}
            {{#if movieInQueue}}
              <button
                type="button"
                class="modal-info-button modal-info-button-active"
                id="js-queue-button"
            >
                Remove from queue
            </button>
            {{else}}
               <button
                type="button"
                class="modal-info-button"
                id="js-queue-button"
            >
                Add to queue
            </button>
            {{/if}}
          
        </div>
    </div>
</div>
