


<div class="pagination pagination-centered"> 
<div>
       <button type="button" class="btnRight" id="dec"></button> 
</div>
        {{!-- <span class="repos-pagination__dots">...</span> --}}
       {{#paginate pagination type="middle" limit="7"}}
       <li{{#if active}}  class="active"{{/if}}><a class="repos-pagination__link " href="?p={{n}}">{{n}}</a></li>
         {{/paginate}}  
      
        <span class="repos-pagination__dots">...</span>
      
         {{#paginate pagination type="last"}}
        <a href="?p={{n}}" class="repos-pagination__link">{{n}}</a>
        {{/paginate}}
<div>
     <button type="button" class="btnRight right" id="inc"></button>       
</div> 
 </div> 
 









  {{!-- {{#paginate pagination type="first"}}
         <li{{#if active}}  class="active"{{/if}}><a class="repos-pagination__link " href="?p={{n}}">{{n}}</a></li>
         {{/paginate}} --}}